  @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700&family=Didact+Gothic&family=WindSong:wght@400;500&display=swap');

  form{
    text-align: left;
}

     .resize{
    height: 30rem;
    display: flex;
    align-items: center;
    
}

 .slide1, .slide2, .slide3{
    height: 30rem;
    margin-top: 1%;    
background-image: linear-gradient(#92867f34, #86441e34), url("img/index3.png");
font-size: .8em;
background-size: cover;
background-position: center;
    }
            
        
    /* use a pseudoelement to apply stuff to bgimage before the content of
     the actual class
     at some part read about z index, it sounds useful
    } */



    .slide2{
            
        background-image: linear-gradient(#9e928b82, #9e928b82), url("img/index2.png");

    }

    .slide3{    
        background-image: linear-gradient(#86441e34, #86441e34), url("img/indx.png");
    }

    .sizeimg{
        width:75%;
    }

    .btnLayout{
        border: none;
        margin-top: 1%;
        border-radius: 20px;
        text-align: center;   
    background-color: #FFCCB3;
    color: rgb(77,67,63);
    font-size: larger;
    width: 8rem;
    height: 4rem;
    margin: auto;
    }

    .mid{
        margin-top: 7px;
        padding-top: 10px;    }
    

  .marginless{
    margin: 0;
    padding: 0; 
    /* remove the padding on the container to let it be full screen */
  }
  
  h2,h3,h4{
    font-size: 3em;
    font-weight:600;
    font-family: 'Bodoni Moda',serif;
}
h3{
    font-size: 1.5em;
}

h4{
    font-size: 2em;
}

.extra{
    background-color: #ffffff;
    margin: 2%;
    font-family: 'Bodoni Moda',serif;
    padding: 5%;
    border:2px #FFC69F;
    font-size: 1.25em;
}

.review{
    background-color: #FFDFD0;
    border-radius: 10px;
    font-size: 1.5em;
    margin: 15px;
    padding: 10px;
}

.price{
    border: 2px solid #ffffff;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 2%;
    background-color: #ffffff8e;
}

.form1{
    padding: 5%;
}

p{
    font-size: 2em;
    width: 60%;
    display: flex;
justify-content: center;
margin: auto;
font-weight: 400;
color: #45281b;
padding-bottom: 15px;

}


h1{
    display: inline;
    font-family: 'WindSong', cursive;
    text-shadow:2px 2px 4px #423732;
    color: #ffdfd0;
    font-weight: 400;
    font-size: 7em;
    margin-top: 250px;
    margin-bottom: 0px;
}




footer{
    padding: 10px;
    padding-top: 20px;
}



body{
    color: rgb(0, 0, 0);
    font-family: 'Didact Gothic',Helvetica, sans-serif;
    background-image: url("img/GRAD1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: larger;
    width: 100%;
    height: 100%;
    text-align: center;
}

/*if the screen gets larger than 768, so md is initialised, activate hamburger menu#
so the css only applies to div in these conditions
*/

.bgImg {
    position: fixed;
    z-index: -1000;
    width: 85%;
    display: flex;
    align-self: center;
    left: 10%;
opacity: 0.25;
}

.card{
background-color: #ffffff4a;
border: 3px white;
width: 20em;
margin: auto;
}
.card-text{
    font-size: 1.5em;
    height: 4em;
}
.ham{
    border: none;

}

.navinside{
    color: #ffffff;    
    font-weight: bold;
}
@media only screen and (min-width: 768px) {
    
.full{
    background-color: #fffffffe;
}
.navinside
{color: #EF8065;}
}

ul{
    list-style-type: none;
    margin: auto;

}

.selectList {
    margin: auto;
    background-color: #ffdfd0;
    width:fit-content;
    text-align: left;
    padding: 5%;
    font-size: 2em;
    font-family: 'Bodoni Moda';
  }

  .dateSet{
    display: flex;
    flex-direction: column;
        text-align: center;
    margin: auto;

  }


.policy{
    font-size: 30px;
    background-color: #ffffff;
    color: #EF8065;
    border: solid #FFC69F;
    padding: 5px;
    width: 100%;    
    margin: auto;

    margin-top: 15px;
    margin-bottom: 30px;
    
}

label{
    display: block;
    margin: 10px;

}

input[type="date"],input[type="time"]{
    width: fit-content;
    height: fit-content;
}
input{
    background-color: #ffffff;
    color: rgb(77,67,63);
    width: 20em;
    height: 50px;
    padding: 15px;
    margin: auto;
    font-size: 1em;
    border: 0px;
    color: #45281b;
    /*
    iddeally these two would be in two different tables and the
    */
}


input[type="checkbox"]{
    background-color: #EF8065;
    width: 50px;
    height: 50px;
    margin: 10px;
}


.central{
   font-size: 2em;
   font-style: oblique;
}

.msg{
    height: 14em;
}

a,  a:active a:visited, a:active{
    color: inherit;
    text-decoration: none;
}
