  @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
nav{
    background-color: rgb(255, 140, 78);
    color: white;
    text-align: center;
}
body{
    background-color: rgb(255, 225, 210);
    color: rgb(77,67,63);
    font-family: 'Didact Gothic',Helvetica, sans-serif;
}